<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>$(ECMENU_APPLICATION_NAME)</string>
	<key>ECMApplicationGroupIdentifier</key>
	<string>$(ECMENU_APPLICATION_GROUP_IDENTIFIER)</string>
	<key>ECMApplicationSigningIdentifier</key>
	<string>$(ECMENU_APPLICATION_BUNDLE_IDENTIFIER)</string>
	<key>ECMFinderExtensionSigningIdentifier</key>
	<string>$(ECMENU_FINDER_EXTENSION_BUNDLE_IDENTIFIER)</string>
	<key>LSUIElement</key>
	<true/>
</dict>
</plist>
